@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Unbounded:wght@400;500&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
}

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

h1,
h2,
h3,
h4,
ul,
p,
figure {
  margin: 0;
}
header {
  padding: 1.2rem 0 1.3rem 0;
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
}

img {
  max-width: 100%;
}

a {
  display: block;
}

.container {
  width: 88%;
  max-width: 1128px;
  margin: 0 auto;
}

header {
  position: relative;
}
.nav__ul {
  position: fixed;
  inset: 0;
  width: 62%;
  z-index: 3;
  background-color: var(--white);
  /* transform class in component */
  transition: transform 0.3s ease-in-out;
  padding: 1.5rem 0 0 1.5rem;
}

.nav__ul button {
  margin-bottom: 2.5rem;
}

.nav__ul li {
  list-style-type: none;
}

.nav__ul li a {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__content-left {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: -5px;
}

.nav__content-right {
  display: flex;
  align-items: center;
}

.profile__picture {
  width: 24px;
}

.nav__icons {
  border: 0;
  background-color: transparent;
  padding: 0;
}

.nav__content-left .nav__icons {
  margin-right: 1rem;
  display: flex;
  align-self: center;
}

.nav__content-right .nav__icons {
  margin-right: 1.5rem;
  display: flex;
}

/* cart */
.cart {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  background-color: var(--white);
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  z-index: 1;
  max-height: 100%;
  height: fit-content;
}

.cart h4 {
  color: var(--very-dark-blue);
}

.cart__empty {
  text-align: center;
  padding: 6.7rem 0;
}

.cart__empty p {
  font-weight: bold;
  color: var(--dark-grayish-blue);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e4e9f2;
  margin-top: 2rem;
}

/* cart end */

.nav__content-right button {
  position: relative;
}

.cart__qty {
  background-color: var(--orange);
  border-radius: 6.5px;
  padding: 1px 7px;
  color: var(--white);
  font-weight: bold;
  display: inline-block;
  position: absolute;
  left: 10px;
  top: -6px;
  font-size: 10px;
}

/*  this might likely change */
.product__image {
  position: relative;
}

.product__image img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.sliders__buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  right: -150px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.sliders__buttons button {
  border: 0;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
